#module-bestkit_checkoutfields-myaccount #submitAccount {
	width: 100px;
}

#module-bestkit_checkoutfields-myaccount .bestkit_customerattributes .attach {
	/*margin-left: 263px;*/
	margin-bottom: 11px;
}

#module-bestkit_checkoutfields-myaccount .bestkit_customerattributes .attach.img {
	max-height: 100px;
	border: silver 1px solid;
}

#module-bestkit_checkoutfields-myaccount .bestkit_customerattributes .attach.link {
	font-weight: bold;
	font-size: 13px;
	line-height: 30px;
}

#module-bestkit_checkoutfields-myaccount .bestkit_customerattributes label.label-title {
	vertical-align: top !important;
}

#authentication .bestkit_customerattributes label.label-title {
	vertical-align: top !important;
}
