/**
 * Page builder layout
 */
.container .pagebuilder .container {
  max-width: 100% !important;
}
.pagebuilder {overflow: hidden;}
.pagebuilder .page-width,
.pts-tab .tab-content > div, .pts-tab .tab-content {width:100%}
.pts-parallax {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.ps-container-fluid > .container {padding:0}
.widget-inner > [class*="col-"] {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* Separator style */
.widget-separator .w_text_separator {
  float: left;
  height: 2px;
  position: relative;
  width: 100%;
  background-color: #797C85;
}
.widget-separator .w_text_separator .text_separ {
  position: absolute;
  padding: 0 1px;
  width: 50px;
  top: -9px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  font-size: 15px;
  font-family: monospace;
}
.widget-separator .separator_align_center {
  left: 0;
  right: 0;
}
.widget-separator .separator_align_left {
  left: 0;
}
.widget-separator .separator_align_right {
  right: 0;
}
.title_block {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.product-title a {
  transition: 0.3s all ease-out 0s;
}
.product-title a:hover {
  color: #222;
}
.grid .product-miniature .product-list-actions .add-to-cart, .list2 .product-miniature .product-list-actions .add-to-cart {
  transition: 0.3s all ease-out 0s;
  line-height: 30px;
  text-align: center;
  display: block;
  position: absolute;
  left: 5px;
  right: 7px;
  margin: auto;
  bottom: -60px;
  background-color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
}
.grid .product-miniature .left-block, .list2 .product-miniature .left-block {
  position: relative;
}
.grid .product-miniature .left-block .highlighted-informations, .list2 .product-miniature .left-block .highlighted-informations {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 40px;
  text-align: center;
  opacity: 0;
  transition: 0.3s all ease-out 0s;
  border-radius: 50%;
  overflow: hidden;
  line-height: 30px;
}
.grid .product-miniature .left-block .highlighted-informations > a, .list2 .product-miniature .left-block .highlighted-informations > a {
  display: inline-block;
  margin: auto;
  height: em(40px);
  width: em(40px);
  transform: scaleY(0);
  z-index: 98;
  display: block;
  text-align: center;
  color: #bbb;
  font-size: 14px;
  line-height: em(38px);
  background-color: #fff;
  position: relative;
  transition: 0.5s all ease-out 0s;
}
.grid .product-miniature .left-block .product-flags, .list2 .product-miniature .left-block .product-flags {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  z-index: 80;
  position: absolute;
  line-height: 12px;
  border: 1px solid transparent;
  text-transform: capitalize;
  top: 0;
  left: 0;
  right: 0;
}
.grid .product-miniature .left-block .product-flags li, .list2 .product-miniature .left-block .product-flags li {
  height: 1.53846rem;
  line-height: 1.53846rem;
  min-width: 3.84615rem;
  text-align: center;
  border-radius: 0.23077rem;
  padding: 0 0.46154rem;
  left: 10px;
}
.grid .product-miniature .left-block .product-flags .new, .list2 .product-miniature .left-block .product-flags .new {
  background-color: #2b97c9;
  border-color: #2b97c9;
  top: 10px !important;
  position: absolute;
  color: #fff;
}
.grid .product-miniature .left-block .product-flags .discount, .grid .product-miniature .left-block .product-flags .on-sale, .list2 .product-miniature .left-block .product-flags .discount, .list2 .product-miniature .left-block .product-flags .on-sale {
  border-color: #fcc040;
  background-color: #fcc040;
  top: 43px;
  position: absolute;
  color: #fff;
}
.grid .product-miniature .left-block:hover .product-thumbnail:before, .list2 .product-miniature .left-block:hover .product-thumbnail:before {
  opacity: 1;
}
.grid .product-miniature .left-block:hover .highlighted-informations, .list2 .product-miniature .left-block:hover .highlighted-informations {
  opacity: 1;
}
.grid .product-miniature .left-block:hover .highlighted-informations > a, .list2 .product-miniature .left-block:hover .highlighted-informations > a {
  transform: scaleY(1);
}
.grid .product-miniature:hover .product-list-actions .add-to-cart, .list2 .product-miniature:hover .product-list-actions .add-to-cart {
  bottom: 5px;
}
.grid .product-miniature:hover .left-block .product-thumbnail:before, .list2 .product-miniature:hover .left-block .product-thumbnail:before {
  opacity: 1;
}
.grid .product-miniature:hover .left-block .highlighted-informations, .list2 .product-miniature:hover .left-block .highlighted-informations {
  opacity: 1;
}
.grid .product-miniature:hover .left-block .highlighted-informations > a, .list2 .product-miniature:hover .left-block .highlighted-informations > a {
  transform: scaleY(1);
}
.grid .product-miniature .right-block, .list2 .product-miniature .right-block {
  padding: 12px 15px 8px;
  position: relative;
  text-align: center;
  height: auto;
  background-color: #fafafa;
  box-shadow: none !important;
}
.grid .product-miniature .right-block .variant-links, .list2 .product-miniature .right-block .variant-links {
  background-color: transparent;
}
.grid .product-miniature .right-block .product-description-short, .list2 .product-miniature .right-block .product-description-short {
  display: none;
}
.grid .product-miniature .right-block .product-title, .list2 .product-miniature .right-block .product-title {
  margin: 0 0 15px;
}
.grid .product-miniature .right-block .product-meta, .list2 .product-miniature .right-block .product-meta {
  float: left;
  width: 100%;
  text-align: center;
}
.grid .product-miniature .right-block .product-availability, .list2 .product-miniature .right-block .product-availability {
  display: none;
}
.grid .product-miniature .right-block .product-price, .list2 .product-miniature .right-block .product-price {
  display: block;
  line-height: 20px;
}
.list1 .product-miniature {
  background-color: #fff;
  margin-bottom: 15px;
}
.list1 .product-miniature .thumbnail-container {
  height: auto;
  box-shadow: none;
}
.list1 .product-miniature .thumbnail-container .left-block {
  float: left;
}
.list1 .product-miniature .thumbnail-container .right-block {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-align: left;
  box-shadow: none;
}
.list1 .product-miniature .thumbnail-container .right-block .product-description-short {
  display: none;
}
.list2 .thumbnail-container .right-block {
  height: auto;
}
.list2 .thumbnail-container .right-block .product-description-short {
  display: block !important;
  max-height: 40px;
  overflow: hidden;
  margin: 20px 0;
}
.flexRow {
  display: flex;
  flex-flow: row wrap;
}
.block-contactinfo .nav-item {
  margin-bottom: 15px;
}
.block-contactinfo .nav-item .contact-icon {
  margin-right: 10px;
}
.block-contactinfo .nav-item .contact-icon i {
  font-size: 16px;
}
.widget-accordion .panel {
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
.widget-accordion .panel-heading {
  padding: 15px;
  position: relative;
  background-color: #f5f5f5;
  text-transform: capitalize;
}
.widget-accordion .panel-heading .panel-title {
  margin: 0;
}
.widget-accordion .panel-heading a {
  text-decoration: none;
  font-weight: normal;
}
.widget-accordion .panel-heading a:before {
  content: "-";
  font-size: 22px;
  font-weight: 600;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 15px;
  display: inline-block;
  color: #333;
}
.widget-accordion .panel-heading a.collapsed:before {
  content: "+";
  font-size: 18px;
}
.widget-accordion .panel-body {
  border-top-color: transparent !important;
  padding: 15px;
}
.widget-accordion.collapse-right .panel-heading a:before {
  position: absolute;
  right: 20px;
}
.widget-accordion.collapse-color .panel-heading a:before {
  color: #fff;
  background: #ccc;
}
.widget-accordion.noborder .panel-heading {
  padding-left: 0;
  padding-right: 0;
}
.widget-accordion.noborder .panel, .widget-accordion.noborder .panel-heading, .widget-accordion.noborder .panel-body {
  background-color: transparent;
  border: none;
}
.widget-accordion.nobackground .panel, .widget-accordion.nobackground .panel-heading, .widget-accordion.nobackground .panel-body {
  background-color: transparent;
}
#tabs .nav-tabs {
  margin-bottom: 30px;
}
#tabs .nav-tabs > li {
  display: inline-block;
  float: none;
  border: none;
}
#tabs .nav-tabs > li > a {
  border: 1px solid #ddd;
  border-radius: 0;
  font-weight: 800;
  line-height: 1.625;
  margin-right: -1px;
  text-transform: uppercase;
  background: #f9f9f9 none repeat scroll 0 0;
  min-width: 200px;
  text-align: center;
  display: block;
  padding: 15px 25px;
  position: relative;
}
#tabs .nav-tabs > li > a.active {
  color: #222;
  background: #fff;
}
#tabs .nav-tabs > li.active > a, #tabs .nav-tabs > li.active > a:hover, #tabs .nav-tabs > li.active > a:focus {
  color: #222;
  background: #fff;
}
#tabs .nav-tabs > li.active {
  background: #fff;
  color: #222;
}

.cattabs {
  float: right;
  margin: 0;
  list-style: none
}
.cattabs li {
  float: left;
}
.cattabs li a {
  border-radius: 3px;
  font-size: 11px;
  font-weight: 600;
  margin: 0 2px 2px;
  padding: 0.53846rem 1.15385rem;
  text-transform: uppercase;
  background-color: #f7f7f7;
}
.cattabs li a.active {
  background-color: #ECB745;
  color: #fff;
}
.cattabs li.active a {
  background-color: #ECB745;
  color: #fff;
}
.categories-info {
  margin-bottom: 30px;
}
.categories-info .categories-info-img {
  position: relative;
  min-height: 165px;
  background-color: #fff;
}
.categories-info .categories-info-img .categories-info-top {
  background: #fff;
  border-radius: 3px;
  bottom: 15px;
  font-size: 11px;
  left: 50%;
  margin-left: -25%;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}
.categories-info .categories-info-img .categories-info-top h3 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.categories-info-content {
  background-color: #fff;
  padding: 15px;
}
.categories-info-content .cat-desc,
.categories-info-content .btn-shopnow {
  text-align: center;
  display: block;
  margin-bottom: 10px
}
.categories-info-content .sub-categories li {
  padding-bottom: 10px;
}
.categories-info-content .sub-categories li .material-icons {
  margin-right: 8px;
  font-size: 15px;
}
.blog_container {
  font-size: 13px;
}
.blog_container .blog-meta {
  padding-top: 15px;
}
.blog_container .blog-meta h5 {
  overflow: hidden;
  line-height: 20px;
  font-weight: 400;
  color:#333;
  font-size: 20px;
  width:90%;
}
.blog_container .blog-meta h5 a{color: inherit;text-decoration:none;}
.blog_container .blog-meta .blog-shortinfo {
  margin-top: 10px;
  font: normal 15px/21px Arial;
  color:#797979
}
.blog_container .blog-meta .readmore p {
  margin-bottom: 0;
  margin-top: 20px;
}
.pk-widget,
#catProductsTabsContent .tab-pane.active {
  position: relative;
}
.pk-widget:not(:last-child) {margin-bottom:100px}
.sidebar .pk-widget:not(:last-child) {margin-bottom:70px}
.headerbuilder .pts-container-wrap > .pts-inner > .page-width > .row-inner > .row > [class*="col-"],
.headerbuilder .pts-container-wrap > .pts-inner > .page-width > .row-inner > .row > [class*="col-"] > div > div {position: static}
@media (max-width:1024px) {
.pk-widget:not(:last-child) {margin-bottom:40px}
}
.pts-newsletter h3.module-title {
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.12em;
  font-weight: bold;
  width: 100%
}
.sidebar .pts-newsletter h3 {position: relative;}
.pts-newsletter h3:before {
  width: 22px;
  height: 3px;
  position: absolute;
  bottom: -15px;
}
.pts-newsletter .alert.warning_inline {padding:15px 0 0 0;margin:0;color:red}
.manu-logo img {
  width: 100%;
}
.pk-carousel-active.pkap-0 {position: relative}
.pk-carousel-active {width:calc(100% + 30px)}
.pk-carousel-active .block_content {overflow: hidden;}
.pk-carousel-active > div > div > * {padding-right: 30px}
.pk-carousel-active .slpw {margin:0}
.pk-carousel > .pk-nav {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.pts-btnlink:hover img {transform: scale(1.04)}
.noscale .pts-btnlink:hover img {transform: scale(1)}
@media (max-width:480px) {
  .footerbuilder .row > div {
    margin-bottom: 40px
  }
}
.raw-links {
  margin:0;
  padding:0;
  list-style: none;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, .25);
  border-bottom: none;
}
.raw-links > li .manu-logo {
  text-align: left
}
.raw-links > li {
  padding: 10px 40px 10px 20px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  color: #868179;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}
.widget-instagram .products-block {
  padding: 0 15px
}
.widget-instagram .products-block .row > div {
  padding: 0;
  border:none;
}
.orig-width img {width:auto !important;height:auto;}
#footer .tb-sect {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
#footer .tb-sect:last-child {
    margin-bottom: 0;
}
#footer .tb-sect-icon {
    margin-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center
}
#footer .tb-sect-icon svg {
    width: 17px;
    height: 17px;
}
.highlight-style .thumbnail-container {
  display: flex;
  padding: 20px 20px 0 20px
}
.highlight-style .thumbnail-container .product-thumbnail-wrapper {
  min-width:40%;
  width:40%;
}
.highlight-style .thumbnail-container .pm-additional-info {
  width:60%;
  padding-left: 20px
}
body .highlight-style .o2 {order:1;margin: 18px 0 13px}
body .highlight-style .o3 {order:2;}
body .highlight-style .countdown {position: relative;order:3;bottom: auto; transform: translateX(0);left: auto; margin-bottom: 30px}
body .highlight-style .o1 {order:4;}
body .highlight-style .o5 {order:5;position: relative;}
body .highlight-style .price {font-size: 19px}
.widget-content {position: relative;}
.widget-products .mini-product .product-title a {color:inherit;}
.widget-latestblog.style1 .widget-content .blog_container {position: relative;}
.widget-latestblog.style1 .widget-content .blog-image {
  width: 200px;
  position: absolute;
  height: 200px;
  overflow: hidden;
}
.widget-latestblog.style1 .widget-content .blog-meta {
  background: #fff;
  padding: 20px;
  z-index: 9;
  position: relative;
  top: 50px;
  margin-bottom: 30px;
  left: 140px;
  width: calc(100% - 140px);
}
.widget-latestblog.style1 .widget-content .img-responsive {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 100%;
  width: auto;
  max-width: 1000%
}
.widget-latestblog.style1 .widget-content .link {
  display: block;
  width: 100%;
  height: 100%
}
.sidebar .widget-latestblog.style1 .widget-content .blog-image {
  width:80px;
  height: 80px;
  position: relative
}
.sidebar .widget-latestblog.style1 .blog_container .blog-meta h5 {
  color:#484848;
  font-size: 16px;
  line-height: 20px;
  display: inline-block !important;
  white-space: normal;
}
.sidebar .widget-latestblog.style1 .widget-content .blog-meta {
  position: relative;
  margin-bottom: 0;
  flex-grow: 1;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  top: auto;
  left: auto;
}
.sidebar .widget-latestblog.style1 .blog-meta > span {font-size: 13px;margin-bottom: 3px}
.sidebar .widget-latestblog.style1 .widget-content .blog_container {display:flex;}
.widget-manufacture .raw-links > li {
  padding: 7px 30px 7px 20px;
  align-items: center;
}
.widget-manufacture .raw-links > li > a {
  text-transform: none;
  color:inherit;
}
.widget-manufacture .raw-links > .flex-container > a:first-child {
  flex-grow: 1
}
.widget-manufacture .raw-links > .flex-container a img {
  height:25px;
  width:auto;
}
.banner-content > a {
  margin-bottom: 30px
}
.banner-content > a img {
  width: 100%;
}
.widget-content-wrap > .blog_container:not(:last-child) {
  margin-bottom: 45px
}
.sidebar .widget-content-wrap > .blog_container:not(:last-child) {
  margin-bottom: 30px
}
.style-2 .slpw,
.sidebar-mode .slpw {
  display: flex;
}
.style-2 .slpw > a {
  display:block;
  min-width:38%;
  width:38%;
  margin-right: 30px
}
.style-2 .slpw .slpwc,
.sidebar-mode .slpw .slpwc {
  flex-grow: 1
}
.style-2 .slpw .slpwc p {
  color:#898989;
}
.sidebar-mode .slpw {
  margin-bottom: 30px
}
.sidebar-mode .slpw .slpwc {
  padding: 0
}
.sidebar-mode .post-date {
  font-size: 13px;
  margin-bottom: 10px;
  color:#888;
}
.style-2 .slpwc .blog-headline {
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
  color: #313537;
  position: relative;
  margin-bottom: 20px;
  max-width: 300px
}
.style-2 .slpwc {
  padding: 15px 50px 0 0
}
.sidebar-mode .slpwc .blog-headline {
  color: #484848;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin-top:0;
  text-transform: uppercase;
}
.sidebar-mode .slpw > a {
  display:block;
  width: 80px;
  min-width: 80px;
  height: 80px;
  position: relative;
  margin-right: 30px;
  overflow: hidden;
}
.sidebar-mode .slpw > a img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 100%;
  width: auto;
  max-width: 1000%;
}
.post-date-custom {
  margin-bottom: 15px
}
.post-date {
  color: #666;
  padding: 0;
  margin:0;
  letter-spacing: .2em;
  font-weight: 400;
  line-height: 15px;
  font-size: 13px;
  text-transform: uppercase 
}
.post-day {
  font-size: 60px;
  font-weight: 600;
  line-height: 50px;
  color:#e4e4e4;
  font-family: "PT Sans"
}
.post-month {
  position: absolute;
  top:calc(50% - 10px);
  line-height: 20px;
  left:43px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.style-2 .slpw > a img {display: none}
.style-2 .post-date {
  margin-bottom: 17px;
}
.square-content {
  background-size: cover;
  background-position: 50% 50%
}
.square-content:after {
  content:"";
  display: block;
  padding-top: 100%
}
.title_center > .module-title {text-align: center}
.title_right > .module-title {text-align: right}
.pts-widget .payment-icons li {margin:0;}
.title_left .pk-nav-wrapper,
.testimonials-wrapper.title_left .pk-nav-wrapper {top:0}
.wide .testimonials-bg {height:auto;}
.wide .testimonials-wrapper {padding-bottom: 100px}
.pts-newsletter .alert:empty {display: none;}
.pts-newsletter.align-center,
.center-content .socialnetworks_menu {justify-content: center;}
.pts-newsletter.align-center h4 {font-size: 20px;text-align: center}
.pk-carousel-active .product-miniature{width:100%;margin:0 0 20px}

.youtube-container {
    margin: 20px auto;
}
.youtube-player {
    padding-bottom: 56.25%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
}
.youtube-player > div {
  width:100%;
  position: absolute;
  height: 100%;
  top:0;
  left:0;
}
.youtube-thumb {
    max-width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}
.youtube-container svg {
  width:72px;
  height: 72px;
  color:#333;
}
.youtube-player > div {height:100%}
.youtube-container:hover svg {color:#DB0701}
#youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#product #pattern #wrapper .products-carousel,
#product .productpagebuilder .pk-widget {margin:0}
.widget.title_center .module-title {text-align: center;}
.headerbuilder svg, .headerbuilder .pk_cl > ul > li > a > .svgic {margin-right: 7px}
.pts-container-wrap .col-lg-12 .tabs-vertical .tabs .nav-tabs {margin-right: 50px}
.tabs-vertical .tabs {
  display: flex;
}
.tabs-vertical .tabs .nav-tabs {
  min-width: 170px;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 20px
}
.tabs-vertical .nav-tabs .nav-item {
  margin:0;
}
.tabs-vertical .tabs .tab-content {
  flex-grow: 1
}
.tabs-vertical .nav-tabs .nav-link {
  padding: 0;
  margin-bottom: 10px
}
.pts-container-wrap .col-lg-12 .tabs-vertical .nav-tabs .nav-link {
  margin-bottom: 20px 
}
.tabs-vertical .tabs .tab-pane {
  padding: 0
}
.product-accessories {margin:70px auto 0 !important;}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.widget-counting .material-icons {width:40px;height: 40px;font-size: 40px;display: inline-block;}

#header .pk-widget {margin-bottom:0}
.widget-counting .material-icons {width:40px;height: 40px;font-size: 40px;display: inline-block;}
.widgets-row, .widgets-column {display: flex}

.widgets-column {flex-direction: column}
.widgets-row {flex-direction: row}

.widgets-row.widgets-left {justify-content: flex-start}
.widgets-row.widgets-center {justify-content: center}
.widgets-row.widgets-right {justify-content: flex-end}

.widgets-column.widgets-left {align-items: flex-start}
.widgets-column.widgets-center {align-items: center}
.widgets-column.widgets-right {align-items: flex-end}
.widgets-row > .pk-widget {margin-left: 15px;margin-right: 15px;}
.widgets-row > .pk-widget:first-child {margin-left: 0}
.widgets-row > .pk-widget:last-child {margin-right: 0}
.widgets-column > .pk-widget {margin-top: 15px;margin-bottom: 15px;}
.widgets-column > .pk-widget:first-child {margin-top: 0}
.widgets-column > .pk-widget:last-child {margin-bottom: 0}
.headerbuilder .icon-element .svgic {margin-right: 5px}